body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.header-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
}

.header-content {
    width: 50%;
    padding: 20px 5%;
}

h1 {
    font-size: 50px;
    line-height: 30px;
}

.highlight-name {
    color: #ff5200;
}

.header-content img {
    width: 80%;
}

.header-content p {
    text-align: justify;
    color: black;
}

.hire-me {
    border: none;
    background: deeppink;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    padding: 10px 40px;
}
.header-content-2{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}